/*<style>*/
body {

	background-color: rgb(0, 204, 255);
}

#timer {
	font-size: 100px;
	float:right;
	color: red;
}
#question2 {

	margin-top:30px;
}

#question2 {

	margin-top:30px;
}
#question3 {

	margin-top:30px;
}
#question4 {

	margin-top:30px;
}
#question5 {

	margin-top:30px;
}

/*</style>*/